node_modules/
android/
ios/
.expo/
dist/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
assets/models/blazeface.tflite
assets/models/mobilefacenet.tflite
assets/models/face_landmark.tflite
.env
npm-debug.*
yarn-debug.*
yarn-error.*
